a:hover {
  color: pink;
}

#container {
  background-position: center top;
  background-repeat: repeat-y;
  overflow: hidden;
  min-width: 980px;
}

header {
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 108px;
  height: 406px;
}

header #mainAreaContainer {
  width: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 0;
  position: absolute;
  overflow: hidden;
}

header #mainArea {
  width: 980px;
  position: relative;
  height: 100%;
  margin: 0 auto;
  opacity: 0;
}

header #logo {
  position: absolute;
  width: 383px;
  height: 194px;
  display: block;
  color: transparent;
  top: -91px;
  left: -90px;
  background: transparent url(/images/logo-trans.png) no-repeat left top;
}

header #mainArea #promo {
  bottom: 55px;
  left: 239px;
  position: absolute;
  height: 267px;
  width: 528px;
}

header #mainArea #promo .overlay {
  height: 267px;
  width: 528px;
  background: transparent url('/images/promo-overlay-trans.png') no-repeat left top;
  position: absolute;
  left: 0;
  top: 0;
}

header #mainArea #promo .single {
  height: 267px;
  width: 528px;
}

header #nav {
  width: 980px;
  height: 61px;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 auto;
  padding-top: 11px;
  position: relative;
  top: -16px;
}

header #nav .navCover {
  height: 40px;
  width: 100%;
  background-color: black;
}

header #nav #bar div {
  top: -3px;
  height: 78px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
}

header #nav .rightFade {
  width: 309px;
  background-position: right top;
  right: -309px;
  overflow: hidden;
}

header #nav .rightBar {
  width: 392px;
  right: 0;
  background-position: left top;
}

header #nav .leftFade {
  width: 308px;
  background-position: left top;
  left: -308px;
  overflow: hidden;
}

header #nav .leftBar {
  width: 643px;
  left: 0;
  background-position: right top;
}

header #nav #bar #glintContainer {
  height: 50px;
  background-position: -500px -9px;
  width: 300px;
  top: 6px;
  left: 500px;
}

header #nav #bar #glintContainer .glint {
  background: transparent url('/images/glint-trans.png') no-repeat left top;
  height: 17px;
  width: 17px;
  position: absolute;
  left: 81px;
  top: 50px;
  opacity: 0;
}